[submodule "themes/flex"]
	path = themes/flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "public"]
	path = public
	url = git@github.com:kevinselwyn/kevinselwyn.github.io.git
	branch = master
